.navbar {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(255, 253, 253, 0.1);
}

.navbar-logo img {
  width: 40px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #c16efd;
}
